<%= image_tag(@pedal.picture) if @pedal.picture.attached? %>

<p>
  <strong>Title:</strong>
  <%= @pedal.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pedal.price %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= @pedal.user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pedal.description %>
</p>


<% if current_user == @pedal.user %>
  <%= link_to 'Edit', edit_pedal_path(@pedal) %> |
  <%= link_to 'Destroy', @pedal, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Orders', orders_path(:pedal_id=> @pedal.id ) %> |
<% else %>
    <%= link_to 'Buy', new_order_path(:pedal_id=> @pedal.id) %> |
<% end %>
<%= link_to 'Back', pedals_path %>
